/.snakemake
/.snakemake
/.snakemake
Rplots.pdf
extra/optim_clin_N/.snakemake/log/2025-08-24T092646.727736.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-24T092438.460335.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-24T090851.467058.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-23T182139.274739.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-22T180254.165291.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-22T172327.581007.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-22T172124.264886.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-15T200655.597641.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-15T200249.960720.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-15T195954.604306.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-15T195701.910491.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-15T153928.264379.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-15T153904.733208.snakemake.log
extra/optim_clin_N/.snakemake/log/2025-08-15T153043.933545.snakemake.log
cart/Sfig10 - v_init x c_pop/sfig10.afdesign~lock~
cart/Sfig8 - Res/sfig7.afdesign~lock~
extra/comparing_pois_models/entry_models.afdesign~lock~
extra/comparing_pois_models/log_pois/run_pois_comp.sh.e22076375
extra/comparing_pois_models/log_pois/run_pois_comp.sh.e22076909
extra/comparing_pois_models/log_pois/run_pois_comp.sh.e22077094
extra/comparing_pois_models/log_pois/run_pois_comp.sh.o22076375
extra/comparing_pois_models/log_pois/run_pois_comp.sh.o22076909
extra/comparing_pois_models/log_pois/run_pois_comp.sh.o22077094
extra/cost_of_resistance/log_res/run_r_cost.sh.o22238601
extra/cost_of_resistance/log_res/run_r_cost.sh.o22126812
extra/cost_of_resistance/log_res/run_r_cost.sh.o22016484
extra/cost_of_resistance/log_res/run_r_cost.sh.e22238601
extra/cost_of_resistance/log_res/run_r_cost.sh.e22126812
extra/cost_of_resistance/log_res/run_r_cost.sh.e22016484
extra/optim_clin_N/.snakemake/incomplete/aW5pdF9jX3BvcF9pbW1fdHJhaW5fcmVzdWx0cy9wYXJhbXNfY19wb3BfMTAwMC5jc3Y=
extra/optim_clin_N/.snakemake/incomplete/aW5pdF9jX3BvcF9pbW1fdHJhaW5fcmVzdWx0cy9wYXJhbXNfY19wb3BfMTAwMDAwMC5jc3Y=
extra/optim_clin_N/.snakemake/incomplete/aW5pdF9jX3BvcF9pbW1fdHJhaW5fcmVzdWx0cy9wYXJhbXNfY19wb3BfMzE2MjIuNzc2NjAxNjgzNzkyLmNzdg==
/extra/optim_clin_N/.snakemake
extra/range_of_cpop/2025-08-22_c_pop_trial_data_interaction.csv
extra/range_of_cpop/2025-08-22_c_pop_trial_data_standard.csv
extra/range_of_cpop/2025-08-22_full_sfig.jpg
extra/range_of_cpop/2025-08-22_full_sfig.pdf
extra/range_of_cpop/2025-08-22_trial_24_h.RDS
extra/range_of_cpop/2025-08-22_trial_24_h_s.RDS
extra/range_of_cpop/2025-08-22_trial_72_h.RDS
extra/range_of_cpop/2025-08-22_trial_72_h_s.RDS
extra/range_of_cpop/2025-08-22c_pop_by_init_wt_tall_interaction.pdf
extra/range_of_cpop/2025-08-22c_pop_by_init_wt_tall_slice_interaction.pdf
extra/range_of_cpop/2025-08-22c_pop_by_init_wt_tall_slice_standard.pdf
extra/range_of_cpop/2025-08-22c_pop_by_init_wt_tall_standard.pdf
extra/range_of_cpop/2025-08-22c_pop_trial_data_interaction.csv
extra/range_of_cpop/2025-08-22c_pop_trial_data_standard.csv
extra/range_of_cpop/2025-08-22percent_resistant_interaction.pdf
extra/range_of_cpop/2025-08-22percent_resistant_interaction.png
extra/range_of_cpop/2025-08-22percent_resistant_standard.pdf
extra/range_of_cpop/2025-08-22percent_resistant_standard.png
extra/range_of_cpop/2025-09-02_full_sfig.jpg
extra/range_of_cpop/2025-09-02_full_sfig.pdf
extra/range_of_cpop/2025-09-02c_pop_by_init_wt_tall_slice_interaction.pdf
extra/range_of_cpop/2025-09-02c_pop_by_init_wt_tall_slice_standard.pdf
extra/range_of_cpop/2025-09-02percent_resistant_interaction.pdf
extra/range_of_cpop/2025-09-02percent_resistant_interaction.png
extra/range_of_cpop/2025-09-02percent_resistant_standard.pdf
extra/range_of_cpop/2025-09-02percent_resistant_standard.png
